@mixin set-flex($flex-direction, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin font-atr($weight, $height, $spacing) {
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}
@mixin vis-effect($duration: 250ms, $timing: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition-duration: $duration;
  transition-timing-function: $timing;
}
// @mixin border-std ($color){
//     border-style: solid;
//     border-width: 1px;
//     border-color: $color;
// }
