.footer {
  background-color: $section-background-color;
  width: 100%;
  padding: 60px 0;
}
.footer__address {
  @include font-atr(400, 1.71, 0.03em);
  @include set-flex(column, flex-start, stretch);
  row-gap: 9px;
  width: 246px;
  margin: 0;
}
.footer__location {
  @include font-atr(400, 1.71, 0.03em);
  color: $primary-background-color;
  margin: 20px 0 0 0;
}
.footer__link {
  @extend .link;
  color: $footer-link-color;
}
.footer__heading {
  @include font-atr(700, 1.14, 0.03em);
  font-size: get-size("footer");
  text-transform: uppercase;
  color: $primary-background-color;
  margin-bottom: 20px;
}
.footer__container {
  @include set-flex(row, flex-start, baseline);
  // display: flex;
  // align-items: baseline;
  width: 1200px;
  margin: 0 auto;
}
.footer__contacts {
  margin-right: 70px;
}
.footer__socials {
  margin-right: 78px;
}
.footer__icons {
  gap: 10px;
  width: 44px;
  height: 44px;
}
.footer__input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  background-color: $section-background-color;
  border: 1px solid $footer-input-color;
  filter: drop-shadow(0px 4px 4px $footer-shadow-color);
  border-radius: 4px;
  color: $footer-link-color;
  margin-right: 10px;
  outline: none;
}
.footer .icon {
  background-color: $footer-icon-background;
  border-radius: 50%;
  fill: $primary-background-color;
}
.footer .icon:hover {
  background-color: $button-icon-color;
  border-radius: 50%;
  fill: $primary-background-color;
}
