.header {
  border-bottom: 1px solid $header-border-color;

  &__container {
    @include set-flex(row,flex-start);
    align-content: center;
    padding: 24px 0 25px;
    gap: 93px;
    width: 1200px;
    margin: 0 auto;
  }

  &__contact {
    // display: flex;default: row (flex-direction),flex-start (justify-content), stretch (align-items)
    @include set-flex(row);
    column-gap: 50px;
    margin-left: auto;

    & .icon {
      margin-right: 10px;
    }
  }

  &__link {
    @include set-flex(row,flex-start,stretch);
  }
  
  &__nav {
    @include set-flex(row,flex-start,stretch);
    @include font-atr(500,1.14,0.02em);
    color: $bolded-text-color;
    column-gap: 46px;
  }
}