.link {
  text-decoration: none;
  color: $bolded-text-color;

  &:focus,
  &:hover {
    color: $link-text-color;
  }

  &--active {
    color: $link-text-color;
  }

  &--active::after {
    position: absolute;
    content: "";
    background: $link-text-color;
    border-radius: 2px;
    border: 1px solid;
    height: 4px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(33.6px);
  }

  &:hover .header__icon {
    fill: $button-icon-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
