.list {
  @include set-flex(row,center,stretch);
  gap: 30px;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  letter-spacing: 0.03em;

  &__icon {
    @include set-flex(row);
    width: 270 px;
    height: 120px;
    background-color: $button-background;
    margin-bottom: 30px;
    padding: 25px auto;
    border-radius: 4px;
  }
  &--gap {
    column-gap: 10px;
    padding-bottom: 30px;
  }

  &__heading {
    line-height: 1.14;
    text-transform: uppercase;
    color: $bolded-text-color;
    margin: 0 0 10px;
  }
  &__description {
    line-height: 1.71;
    width: 270px;
  }
  &__item {
    background-color: $primary-background-color;
    box-shadow: 0px 1px 3px $modal-box-shadow-primary, 0px 1px 1px $modal-box-shadow-secondary, 0px 2px 1px $modal-background-color;
    border-radius: 0px 0px 4px 4px;
  }
  &__position {
    position: relative;
  }
}
