.section-top {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    $section-background-color;

  &__layout {
    @include set-flex(column);
    padding: 200px 0 200px;
    width: 1600px;
    // background-color: $section-top-background;
    // background-image: url(../images/background.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../images/background.jpg"), $section-top-background;

    background-size: cover;

    margin: 0 auto;
  }

  &__header {
    @include font-atr(900, 1.36, 0.06em);
    font-size: get-size("top-section");
    text-align: center;
    text-transform: uppercase;
    color: $button-text-color;
    margin: 0 0 20px;
    display: block;
  }
}
